USE [DB_Movie_vvk]
GO
/****** Object:  Table [dbo].[GenMovies]    Script Date: 30-08-2025 23:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenMovies](
	[nMovieId] [int] IDENTITY(1,1) NOT NULL,
	[cTitle] [nvarchar](200) NOT NULL,
	[cDirector] [nvarchar](100) NULL,
	[nReleaseYear] [int] NULL,
	[cGenre] [nvarchar](100) NULL,
	[nRating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMovie]    Script Date: 30-08-2025 23:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddMovie]
    @cTitle NVARCHAR(200),
    @cDirector NVARCHAR(100),
    @nReleaseYear INT,
    @cGenre NVARCHAR(50),
    @nRating INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO GenMovies (cTitle, cDirector, nReleaseYear, cGenre, nRating)
        VALUES (@cTitle, @cDirector, @nReleaseYear, @cGenre, @nRating);

        -- Return success message
        SELECT 'Success: Movie added successfully' AS Message;
    END TRY
    BEGIN CATCH
        -- Return error message if something goes wrong
        SELECT 'Error: ' + ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMovie]    Script Date: 30-08-2025 23:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteMovie]
    @nMovieId int
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM GenMovies
    WHERE nMovieId = @nMovieId;

    IF @@ROWCOUNT > 0
        SELECT 'Success: Movie deleted successfully' AS Message;
    ELSE
        SELECT 'Error: Movie not found' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMovie]    Script Date: 30-08-2025 23:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateMovie]
    @nMovieId INT,
    @cTitle NVARCHAR(200) = NULL,
    @cDirector NVARCHAR(100) = NULL,
    @nReleaseYear INT = NULL,
    @cGenre NVARCHAR(50) = NULL,
    @nRating INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE GenMovies
    SET cTitle       = COALESCE(@cTitle, cTitle),
        cDirector    = COALESCE(@cDirector, cDirector),
        nReleaseYear = COALESCE(@nReleaseYear, nReleaseYear),
        cGenre       = COALESCE(@cGenre, cGenre),
        nRating      = COALESCE(@nRating, nRating)
    WHERE nMovieId = @nMovieId;

    IF @@ROWCOUNT > 0
        SELECT 'Success: Movie updated successfully' AS Message;
    ELSE
        SELECT 'Error: Movie not found or no changes applied' AS Message;
END;
GO
